
/* Main (global) page styles */

body{
	
}

h1{

}
h2{

}

p{

}

a{

}



header{

}

#mainLogo{

}

ul#navLinks{

}
li.mainLink{

}



.masterWidth{

}

#mainContent{

}



/* global "connect with Me" (social channels) styles */

#socialConnect{

}

ul#socailConnectMenu{

}
li.socialConnect{

}





/* index/about me page styles */

.bioImg{
	position: relative;
	width: 200px;
	float: left;
}




/* contact page styles */





/* portfolio page styles */




/* global footer styles */

footer{

}

#copyrightInfo{
	
}